{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.image.url}}" >
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="Add" class="btn btn-outline-secondary add-button update-cart">Add To Cart</button>
            {% if request.user.is_superuser %}
            <button class="btn btn-outline-secondary dte" data-product={{product.id}}><a href="{% url 'delete' product.id %}">Delete</a></button>
            {% endif %}
            
            <h4 style="display: inline-block ;  float: right"><strong>Rs{{product.price|floatformat:2}}</strong></h4>
        </div>
    </div>
    
    {% endfor %}
</div>
{% endblock content %}